*{
    font-family: poppins;
    color: white;
    scroll-behavior: smooth;
}

.truncate-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.break-all {
    word-break: break-all;
}
